<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail界面</title>
</head>
<body>
    <h3>detail界面</h3>

    <ul>
        <!--{% for hero in book.heroinfo_set.all %}-->
        <!--<li>{{ hero.name }}</li>-->
        <!--{% endfor %}-->

        {% if book.heroinfo_set.all %}
            {% for hero in book.heroinfo_set.all %}
                <li> {{ hero.name }} <a href="{% url 'test1:deletehero' hero.id %}">删除</a> </li>
            {% endfor %}
        {% else %}
            没有人物信息
        {% endif %}
    </ul>
    <br><br><br><br><br>

    <!--<a href="/test1/list/">返回列表</a>-->
    <a href="{% url 'test1:add_hero' book.id %}">添加英雄</a>
    <a href="{% url 'test1:list' %}">返回列表</a>

</body>
</html>